<div id="pagina">
  <div id="formulario">
      <div>
          <h4>Compartilhe o WI-FI do seu estabelecimento ou da sua casa de uma maneira fácil.</h4>
          <p><b>Coloque as credencias abaixo:</b></p>
      </div>
      <div class="d-flex flex-column justify-content-center">
          <div class="form-group">
              <label for="nomeRede">Nome do WI-FI:</label>
              <input placeholder="Nome da Rede..." [(ngModel)]="ssid" (ngModelChange)="onChange()" class="form-control" type="text" id="nomeRede">
          </div>
          <div class="form-group">
              <label for="senhaRede">Senha:</label>
              <input placeholder="Senha..." [(ngModel)]="pass" (ngModelChange)="onChange()" class="form-control" type="text" id="senhaRede">
          </div>
      </div>
      <div>
          <button type="button" (click)="gerarPDF()" class="btn btn-dark">Download PDF</button>
      </div>
  </div>
  <div id="qrCode">
      <div #htmlQR id="print">
          <span><i class="fa fa-wifi"></i>Wi-Fi</span>
          <ngx-kjua [text]="wifi"></ngx-kjua>
          <p>Para conectar com o seu celular ou tablet, escaneie o QR Code acima com sua camera. Para outros dispositivos, use as credenciais abaixo:</p>
          <span>Rede:</span>
          <h4>{{ ssid }}</h4>
          <span>Senha:</span>
          <h4>{{ pass }}</h4>
      </div>
  </div>
</div>

